{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ _('Main Page') }}{% endblock %}</h1>
{% endblock %}

{% block content %}

  <h1>{{ _('5 Last captures') }}</h1> 
  <table style="width:100%">
  <tr>
    <th>{{ _('Monster') }}</th>
    <th>{{ _('Hunter') }}</th>
    <th>{{ _('Date') }}</th>
    <th>{{ _('Proof') }}</th>
    <th></th>
  </tr>
  {% for capture in captures %}
    <tr>
      <td><img src="{{ capture["img"] }}"></img><a href="monster/{{ capture["id"] }}">{{ capture["monster"] }}</a></td>
      <td>{{ capture["hunter"] }}</td>
      <td>{{ capture["time"] }}</td>
      <td> <a href="{{ capture["proof"] }}" target="_blank">{{ _('Capture') }}</a> </td>
      <td>
        <div style="color: #22790D" class="valid-up"><b>{{ capture["+"] }}</b></div>
	{% if g.user %}
          <button c_id={{ capture["id"] }} v="+" type="submit" class="btn-valid">👍</button>
          <button c_id={{ capture["id"] }} v="-" type="submit" class="btn-valid">👎</button>
        {% endif %}
        <div style="color: #EC1919" class="valid-down"><b>{{ capture["-"] }}</b></div>
      </td>
    </tr>
  {% endfor %}
  </table>

  <h1>{{ _('Search') }}</h1>

  {{ _('Work In Progress') }}
  
  <h1>{{ _('Bestiary') }}</h1>

  <button class="collapsible"><h2>{{ _('Wanted Notices') }}</h2></button>
  <div class="mons-content">
  <table>
    <tr>
      <td></td>
      <td>{{ _('Last capture') }}</td>
    </tr>
{% for notice in notices %}
    <tr>
      <td><a href="/monster/{{ notice["id"] }}">{{ notice["nameFr"] }}</a></td>
      <td>{{ notice["last capture"] }}</td>
    </tr>
{% endfor %}
  </table>
  </div>

  <button class="collapsible"><h2>{{ _('Cania Bandits') }}</h2></button>
  <div class="mons-content">
  <table>
    <tr>
      <td></td>
      <td>{{ _('Last capture') }}</td>
    </tr>
{% for bandit in bandits %}
    <tr>
      <td><a href="/monster/{{ bandit["id"] }}">{{ bandit["nameFr"] }}</a></td>
      <td>{{ bandit["last capture"] }}</td>
    </tr>
{% endfor %}
  </table>
  </div>

  <button class="collapsible"><h2>{{ _('Archimonsters') }}</h2></button>
  <div class="mons-content">
  <table>
    <tr>
      <td></td>
      <td>{{ _('Last capture') }}</td>
    </tr>
{% for archi in archimonsters %}
    <tr>
      <td><a href="/monster/{{ archi["id"] }}">{{ archi["nameFr"] }}</a></td>
      <td>{{ archi["last capture"] }}</td>
    </tr>
{% endfor %}
  </table>
  </div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>
{% endblock %}
